/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| Developed By Hossam Hilal ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2020 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

@font-face {
    font-family: 'Cocon';
    src: url('../fonts/Cocon-Regular.eot');
    src: url('../fonts/Cocon-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cocon-Regular.woff2') format('woff2'),
        url('../fonts/Cocon-Regular.woff') format('woff'),
        url('../fonts/Cocon-Regular.ttf') format('truetype'),
        url('../fonts/Cocon-Regular.svg#Cocon-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '29LT Bukra';
    src: url('../fonts/29LTBukra-Bold.eot');
    src: url('../fonts/29LTBukra-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/29LTBukra-Bold.woff2') format('woff2'),
        url('../fonts/29LTBukra-Bold.woff') format('woff'),
        url('../fonts/29LTBukra-Bold.ttf') format('truetype'),
        url('../fonts/29LTBukra-Bold.svg#29LTBukra-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Flat';
    src: url('../fonts/JFFlat-Regular.eot');
    src: url('../fonts/JFFlat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JFFlat-Regular.woff2') format('woff2'),
        url('../fonts/JFFlat-Regular.woff') format('woff'),
        url('../fonts/JFFlat-Regular.ttf') format('truetype'),
        url('../fonts/JFFlat-Regular.svg#JFFlat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*==========================||---------------------------||========================*/
/*==========================||             Basic         ||========================*/
/*==========================||---------------------------||========================*/

body {
    font-family: 'JF Flat', sans-serif;
    overflow-x: hidden;
    direction: rtl;
    background: #FCFCFC;
}

a {
    text-decoration: none !important;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(#968AB2);
    z-index: -1;
    position: relative;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: var(#968AB2);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--darkBlue);
    max-height: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    overflow: hidden;
}

.stopScroll {
    overflow: hidden;
}

/*==========================||---------------------------||========================*/
/*==========================||            Buttons        ||========================*/
/*==========================||---------------------------||========================*/

.redBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ED1B24;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.redBtn:hover {
    background: #de030c;
}

.whiteBtn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ED1B24;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ED1B24;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.whiteBtn:hover {
    color: #FFFFFF;
    background: #ED1B24;
}

.gradientBtn {
    background: transparent linear-gradient(107deg, #ED1B24 0%, #002A64 100%) 0% 0% no-repeat padding-box;
    border-radius: 18px;
    color: #fff;
    padding: 10px 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.gradientBtn:hover {
    background: #ED1B24;
    color: #fff;
}


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/

.headerTop {
    background: #002A64 0% 0% no-repeat padding-box;
}

.headerTopWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerTopUser a {
    padding: 14px 20px;
    color: #fff;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
}

.headerTopUser img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.headerTopUser a:hover {
    background: #ED1B24;
}

.dropBox {
    display: inline-flex;
    align-items: center;
    padding: 13px 10px;
    color: #fff;
    font-size: 12px;
    position: relative;
}

.dropBox span {
    padding: 0 10px;
}

.dropBox select {
    appearance: inherit;
    width: 40px;
    background: transparent;
    color: inherit;
    border: 0;
    padding: 0 5px;
}

.dropBox::after {
    content: '';
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropBox select:focus {
    box-shadow: none;
    outline: 0;
}

.dropBox select option {
    color: #000;
    text-align: center;
}

.headerMiddle {
    background: #fff;
}

.headerMiddleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.headerFilter {
    display: flex;
    border: 1px solid #E9E9E9;
    border-radius: 25px;
    overflow: hidden;
    height: 48px;
}

.headerFilterCats {
    display: flex;
    align-items: center;
    position: relative;
}

.headerFilterCats::before {
    content: '';
    background: #E9E9E9;
    width: 1px;
    height: 20px;
    display: block;
    position: absolute;
    left: -7px;
}

.headerFilterCats .filterToggle {
    width: 20px;
    height: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 15px;
}

.headerFilterCats .filterToggle span {
    width: 100%;
    height: 2px;
    background: #002A64;
    display: block;
}

.headerFilterCats:hover .filterToggle span {
    background: #ED1B24;
}

.headerFilterCats select {
    padding: 0 50px 0 0;
    color: #3A3A3A;
    font-size: 12px;
    border: 0;
    z-index: 1;
    background: transparent;
    cursor: pointer;
}

.headerFilterCats select:focus {
    box-shadow: none;
    outline: 0;
}

.headerFilterCats:hover option:selected {
    color: #ED1B24;
}

.headerFilter input {
    margin: 0 15px;
    height: 45px;
    font-size: 13px;
    min-width: 260px;
    border: 0;
}

.headerFilter input::placeholder {
    color: #E9E9E9;
}

.headerFilter input:focus,
.headerFilter input:active {
    border: 0;
    box-shadow: none;
    outline: 0;
}

.headerFilter .redBtn {
    border: 0;
    width: 75px;
    height: 48px;
}

.headerCart {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #3A3A3A;
    cursor: pointer;
}

.headerCartIcon {
    width: 48px;
    height: 48px;
    background: #ED1B24 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerCart label {
    margin: 0 15px;
}

.headerCart:hover {
    color: #ED1B24;
}

.headerNav {
    background: #002A64 0% 0% no-repeat padding-box;
}

.headerNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerNav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 50px;
    margin-left: 20px;
    padding: 0 15px;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

.headerNav a:hover {
    background: #ED1B24;
}

.headerNav .active a {
    background: #ED1B24;
    border-radius: 25px;
}

.headerSlider {
    position: relative;
}

.owlHeader .item {
    height: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owlHeaderData {
    max-width: 350px;
    text-align: center;
}

.owlHeaderData h1 {
    font-size: 40px;
    line-height: 60px;
    color: #ED1B24;
}

.owlHeaderData .whiteBtn {
    margin: 60px auto 0;
    height: 65px;
    width: 300px;
    font-size: 25px;
}

.owlHeader .owl-nav>div {
    width: 56px;
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A1A1A1;
    border-radius: 28px;
    color: #A1A1A1;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 28px);
}

.owlHeader .owl-nav>div:hover {
    color: #ED1B24;
    border-color: #ED1B24;
}

.owlHeader .owl-nav .owl-prev {
    right: 6%;
}

.owlHeader .owl-nav .owl-next {
    left: 6%;
}

.sliderProgress {
    width: 0;
    max-width: 100%;
    height: 4px;
    background: #ED1B24;
}

.navBtn {
    display: none;
}

.headerOverlay {
    width: 0;
    height: 0;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    transition: all .4s ease-in-out;
}

@media screen and (max-width:768px) {
    .headerTopUser a {
        padding: 10px 5px;
    }

    .headerTopUser span {
        display: none;
    }

    .headerTopUser img {
        margin: 0;
    }

    .dropBox {
        padding: 10px 5px;
    }

    .dropBox img {
        max-width: 17px;
    }

    .dropBox span {
        display: none;
    }

    .headerMiddleBox {
        flex-direction: column;
        position: relative;
        padding: 15px 0;
        align-items: initial;
    }

    .headerMiddleBox .logo {
        max-width: 110px;
    }

    .headerCart {
        width: 30px;
        position: absolute;
        top: 15px;
        left: 50px;
    }

    .headerCartIcon {
        width: 30px;
        height: 30px;
    }

    .headerCart label,
    .headerCart span {
        display: none;
    }

    .navBtn {
        width: 25px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        top: 20px;
        left: 0;
    }

    .navBtn span {
        width: 100%;
        height: 3px;
        background: #000;
    }

    .headerNav {
        position: fixed;
        top: 0;
        right: 0;
        width: 270px;
        height: 100vh;
        z-index: 99;
        padding: 40px 0;
        transform: translateX(100%);
        transition: all .4s ease-in-out;
    }

    .headerNav ul {
        flex-direction: column;
    }

    .headerNav a {
        height: 45px;
        min-width: 150px;
        margin-bottom: 15px;
    }

    .headerNav.show {
        transform: translateX(0);
    }

    .headerOverlay.show {
        width: 100vw;
        height: 100vh;
        z-index: 98;
        display: block;
    }

    .owlHeaderData h1 {
        font-size: 17px;
        line-height: 30px;
    }

    .owlHeaderData .whiteBtn {
        height: 40px;
        width: 120px;
        font-size: 15px;
        margin: 30px auto 0;
    }

    .owlHeader .item {
        height: 300px;
    }

    .owlHeader .owl-nav>div {
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
    }
}

@media screen and (max-width:575px) {
    .headerFilter {
        flex-direction: column;
        border: 0;
        height: auto;
        padding: 20px 0 0 0;
        border-radius: 0;
    }

    .headerFilterCats {
        border: 1px solid #E9E9E9;
        border-radius: 25px;
        height: 40px;
        padding-inline-end: 10px;
    }

    .headerFilterCats select {
        width: 100%;
    }

    .headerFilter input {
        border: 1px solid #E9E9E9;
        border-radius: 25px;
        height: 40px;
        width: 100%;
        margin: 7px 0 0 0;
        padding: 0 15px 0 40px;
    }

    .headerFilter .redBtn {
        position: absolute;
        bottom: 15px;
        left: 0;
        height: 40px;
        width: 40px;
        border-radius: 25px;
    }

    .owlHeader .owl-nav>div {
        border-radius: 0;
        top: auto;
        bottom: 0;
        width: 30px;
        height: 30px;
    }

    .owlHeader .owl-nav .owl-prev {
        right: 0;
    }

    .owlHeader .owl-nav .owl-next {
        left: 0;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .headerFilter {
        margin-top: 15px;
    }

    .headerFilterCats {
        width: 200px;
    }

    .headerFilterCats select {
        width: 100%;
    }

    .headerFilter input {
        width: calc(100% - 305px);
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .headerMiddleBox {
        flex-direction: row;
        padding-left: 10px;
    }

    .headerCart {
        position: relative;
        top: auto;
        width: auto;
    }

    .headerCartIcon {
        width: 48px;
        height: 48px;
    }

    .headerCart label,
    .headerCart span {
        display: none;
    }

    .headerMiddleBox .logo {
        max-width: 170px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||             Share         ||========================*/
/*==========================||---------------------------||========================*/

.share {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.share a {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    transition: all .3s ease-in-out;
}

.share a span {
    font-size: 13px;
    display: none;
    text-transform: capitalize;
}

.share .facebook {
    background: #3B5998;
}

.share .youtube {
    background: #DC4E41;
}

.share .twitter {
    background: #55ACEE;
}

.share .whatsapp {
    background: #2AD53B;
}

.share .email {
    background: #220081;
}

.share a:hover {
    width: 82px;
}

.share a:hover i {
    display: none;
}

.share a:hover span {
    display: block;
}

@media screen and (max-width:768px) {
    .share {
        top: 0;
    }

    .share a {
        width: 30px;
        height: 30px;
    }
}



/*==========================||---------------------------||========================*/
/*==========================||             Cats          ||========================*/
/*==========================||---------------------------||========================*/

.secPadding {
    padding: 40px 0;
}

.secHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9;
    padding: 0 0 10px 0;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.secHeaderCenter {
    justify-content: center;
}

.secHeader h2 {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    color: #ED1B24;
    position: relative;
}

.secHeader h2::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #ED1B24;
    position: absolute;
    bottom: -11px;
    right: 0;
}

.secHeader a {
    color: #3A3A3A;
    position: relative;
}

.secHeader a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #3A3A3A;
    position: absolute;
    bottom: -11px;
    right: 0;
}

.secHeader a:hover {
    color: #ED1B24;
}

.secHeader a:hover::after {
    background: #ED1B24;
}

.cats .item {
    padding: 1px;
}

.cat {
    text-align: center;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.cat:hover {
    border-top-color: #ED1B24;
    border-right-color: #ED1B24;
    border-bottom-color: #ED1B24;
    border-left-color: #ED1B24;
    transition: border-top-color 0.4s linear, border-right-color 0.4s linear 0.10s, border-bottom-color 0.4s linear 0.20s, border-left-color 0.4s linear 0.30s;
}

.cats .owl-item img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.cat h3 {
    color: #444444;
    font-size: 20px;
}

.cat:hover h3 {
    color: #ED1B24;
}

.owlNav .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0;
}

.owlNav .owl-nav>div {
    width: 32px;
    height: 32px;
    border: 1px solid #E9E9E9;
    color: #E9E9E9;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.owlNav .owl-nav>div:hover {
    color: #ED1B24;
    border-color: #ED1B24;
    background: #fff;
}

@media screen and (max-width:768px) {
    .secPadding {
        padding: 25px 0;
    }

    .secHeader {
        font-size: 13px;
        margin-bottom: 20px;
        padding: 0;
    }

    .secHeader h2 {
        font-size: 13px;
    }

    .secHeader h2::after {
        bottom: -1px;
    }

    .secHeader a::after {
        bottom: -1px;
    }

    .cat {
        padding: 0 5px;
    }

    .cats .owl-item img {
        width: 100px;
        height: 100px;
        margin: 0 auto 15px;
    }

    .cat h3 {
        font-size: 14px;
    }

    .owlNav .owl-nav {
        padding: 15px 0 0 0;
    }
}

@media (min-width:1350px) {
    .container {
        max-width: 1300px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||       Home Auctions       ||========================*/
/*==========================||---------------------------||========================*/

.homeAuction {
    padding: 0 10px;
    text-align: center;
    height: 300px;
}

.homeAuctionImage {
    width: 100%;
    height: 189px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.homeAuction:hover .homeAuctionImage {
    height: 210px;
}

.homeAuctionImage img {
    width: 100%;
    height: 100%;
}

.homeAuctionHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.homeAuction .gradientBtn {
    width: 113px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);
}

.homeAuction:hover .gradientBtn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.homeAuction .timer {
    font-size: 12px;
}

.homeAuction .timer span {
    padding: 0 3px;
}

.homeAuctionHover .timer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(45px);
    transition: all .3s ease-in-out;
}

.homeAuction:hover .homeAuctionHover .timer {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.homeAuction h3 {
    color: #3A3A3A;
    font-size: 15px;
}

.homeAuction h4 {
    color: #002A64;
    font-size: 12px;
    line-height: 30px;
    margin: 0;
}

.homeAuction>.timer {
    color: #ED1B24;
}

.homeAuction:hover>.timer {
    display: none;
}

.pageBanner img {
    width: 100%;
}

@media screen and (max-width:768px) {
    .homeAuction {
        padding: 0 5px;
        height: 250px;
    }

    .homeAuction h3 {
        font-size: 13px;
    }

    .homeAuction .timer span {
        padding: 0 1px;
    }

    .homeAuction .timer {
        font-size: 11px;
    }

    .homeAuction .gradientBtn {
        width: 90px;
        font-size: 14px;
        padding: 5px;
    }

    .pageBanner img {
        min-height: 130px;
    }
}

@media screen and (max-width:575px) {
    .homeAuctionImage {
        height: 130px;
    }

    .homeAuction:hover .homeAuctionImage {
        height: 160px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .homeAuctionImage {
        height: 170px;
    }

    .homeAuction:hover .homeAuctionImage {
        height: 190px;
    }

    .homeAuction {
        height: 260px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||         Best Offers       ||========================*/
/*==========================||---------------------------||========================*/

.bestOffer {
    text-align: center;
    height: 275px;
}

.bestOfferImage {
    height: 190px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.owlBest .bestOfferImage img {
    width: auto;
}

.bestOffer:hover .bestOfferImage {
    height: 210px;
}

.bestOfferHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.bestOfferActions {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 10px 15px;
    border-radius: 25px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);
    transition: all .3s ease-in-out;
    background: transparent linear-gradient(107deg, #ED1B24 0%, #002A64 100%) 0% 0% no-repeat padding-box;
}

.bestOffer:hover .bestOfferActions {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.bestOfferActions>* {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.bestOfferActions>*:hover {
    transform: translateY(-3px);
}

.bestOfferHover .stars {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0 15px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(45px);
    transition: all .3s ease-in-out;
}

.bestOffer:hover .bestOfferHover .stars {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.stars {
    font-size: 9px;
    color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars i {
    margin: 3px;
}

.stars .orange {
    color: #FFCC00;
}

.bestOffer:hover>.stars {
    display: none;
}

.bestOffer h3 {
    color: #3A3A3A;
    font-size: 13px;
    font-weight: bold;
}

.bestOffer p {
    font-size: 12px;
    color: #3A3A3A;
    margin-bottom: 5px;
}

.bestOffer .oldPrice {
    color: #C6C6C6;
    margin: 05px;
    text-decoration: line-through;
}

@media screen and (max-width:575px) {
    .bestOffer {
        height: 240px;
    }

    .bestOfferImage {
        height: 150px;
        padding: 10px;
    }

    .bestOffer:hover .bestOfferImage {
        height: 170px;
    }

    .bestOffer h3 {
        font-size: 12px;
    }

    .bestOfferActions {
        width: 90%;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||            Banners        ||========================*/
/*==========================||---------------------------||========================*/

.banners .row {
    margin: 0 -5px;
}

.banners .col-12 {
    padding: 0 8px;
}

.bannerImage:first-of-type {
    margin-bottom: 16px;
}

.bannerImage img {
    width: 100%;
}

.bannerImage {
    border: 1px solid #D1D1D1;
}

@media screen and (max-width:575px) {
    .banners .col-12 {
        padding: 0 5px;
    }

    .banners .col-6 {
        padding: 0 3px;
    }

    .banners .row {
        margin: 0 -3px;
    }

    .bannerImage:first-of-type {
        margin-bottom: 6px;
    }

    .banners .col-12 {
        display: flex;
    }

    .banners .col-12 .bannerImage:first-of-type {
        margin: 0 0 0 6px;
    }

    .banners .col-4,
    .banners .col-8 {
        padding: 0 3px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||          Hot Links        ||========================*/
/*==========================||---------------------------||========================*/

.hotLinks {
    margin-bottom: 30px;
}

.hotLinks .row {
    margin: 0 -5px;
}

.hotLinks .col-6 {
    padding: 0 5px;
}

.hotLink {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.hotLink::before {
    content: url(../images/polygon.png);
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 7px;
}

.hotLinkBox {
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -webkit-shape-outside: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
    background: #fff;
    height: 154px;
    width: 133px;
    transform: rotate(90deg);
    cursor: pointer;
    margin: auto;
    box-shadow: -15px 15px 30px #0000000D;
    position: relative;
    z-index: 1;
}

.hotLinkIcon {
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hotLink h2 {
    color: #002A64;
    font-size: 19px;
    line-height: 30px;
    margin: 5px 0 0;
}

@media screen and (max-width:768px) {
    .hotLinkBox {
        height: 120px;
        width: 110px;
    }

    .hotLink h2 {
        font-size: 14px;
        margin: 0;
    }

    .hotLink::before {
        content: url('../images/polygon-sm.png');
        top: -4px;
        left: 0;
    }
}

@media (min-width:575px) and (max-width:768px) {
    .hotLink::before {
        left: 41px;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||             Footer        ||========================*/
/*==========================||---------------------------||========================*/

.footer {
    background: #002A64;
    color: #fff;
    border-radius: 100px 100px 0 0;
    position: relative;
    padding-bottom: 15px;
}

.footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent linear-gradient(359deg, #ED1B24 0%, #002A64 100%) 0% 0% no-repeat padding-box;
    height: 118px;
    z-index: 0;
}

.newLetter {
    text-align: center;
}

.newLetter h2 {
    font-size: 15px;
    margin: 20px 0 30px;
    line-height: 25px;
}

.subscribeBox {
    max-width: 570px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    margin: 0 auto 40px;
}

.subscribeBox form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribeBox input {
    width: calc(100% - 68px);
    height: 40px;
    border: 0;
    background: 0;
    padding: 0 15px;
    color: #fff;
    font-size: 12px;
}

.subscribeBox input::placeholder {
    color: #fff;
    opacity: .5;
}

.subscribeBox button {
    width: 68px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 33px;
    margin: -3px 0 0 -1px;
}

.subscribeBox button:hover,
.subscribeBox button:focus {
    color: #fff;
    background: #ED1B24;
    outline: 0;
    box-shadow: none;
}

.sponsors .item {
    padding: 20px 0;
}

.sponsor {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
    height: 110px;
    padding: 20px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.sponsor:hover {
    transform: translateY(-10px);
}

.sponsor img {
    max-width: 70px;
}

.footer .logo {
    max-width: 230px;
    margin: 40px auto;
}

.footerNav {
    padding-bottom: 30px;
    border-bottom: 1px solid #a1a1a1;
    margin-bottom: 40px;
}

.footerNav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footerNav a {
    color: #fff;
    margin: 0 5px;
    padding: 9px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 13px;
    transition: all .4s ease-in-out;
}

.footerNav a:hover {
    background: #ED1B24;
}

.footerInfo {
    text-align: initial;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.footerInfo h3 {
    font-size: 23px;
    line-height: 33px;
    position: relative;
    display: flex;
    align-items: center;
}

.footerInfo h3::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #ED1B24;
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 50%;
    margin-left: 7px;
}

.footerInfo a,
.footerInfo p {
    color: #fff;
    font-size: 15px;
    line-height: 50px;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
}

.footerInfo a::before,
.footerInfo p::before {
    content: '';
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.footerInfo a:hover {
    transform: translateX(-5px);
}

.privacy {
    z-index: 1;
    position: relative;
    padding: 30px 0 0;
}

.privacy .row {
    align-items: center;
}

.privacy .col-12:first-of-type {
    text-align: initial;
}

.privacy .col-12:nth-child(2) {
    text-align: center;
}

@media screen and (max-width:575px) {

    .privacy,
    .privacy p {
        text-align: center;
    }

    .privacy img {
        margin: 10px 0;
    }
}

@media screen and (max-width:768px) {
    .footer {
        border-radius: 30px 30px 0 0;
    }

    .newLetter h2 {
        margin: 15px 0;
    }

    .subscribeBox {
        margin-bottom: 15px;
    }

    .subscribeBox button {
        width: 40px;
    }

    .subscribeBox input {
        width: calc(100% - 40px);
    }

    .footerNav {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .footerNav a {
        margin: 0 1px;
        padding: 7px 10px;
    }

    .footerInfo {
        margin-bottom: 10px;
    }

    .privacy,
    .privacy p {
        font-size: 14px;
    }
}

@media screen and (max-width:992px) {
    .footerInfo h3 {
        font-size: 14px;
        margin: 0;
    }

    .footerInfo a,
    .footerInfo p {
        font-size: 13px;
        line-height: 35px;
    }
}

/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/

/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/



/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             Header        ||========================*/
/*==========================||---------------------------||========================*/


/*==========================||---------------------------||========================*/
/*==========================||             EN            ||========================*/
/*==========================||---------------------------||========================*/

.en {
    direction: ltr;
    text-align: left;
}

.en .headerFilterCats select {
    padding: 0 0 0 50px;
}

.en .headerFilterCats .filterToggle {
    right: auto;
    left: 15px;
}

.en .headerFilterCats::before {
    left: auto;
    right: -7px;
}

.en .share {
    left: auto;
    right: 0;
}

.en .share a {
    border-radius: 10px 0 0 10px;
}

.en .subscribeBox button {
    margin: -2px -1px 0 0;
}

.en .subscribeBox button i {
    transform: rotate(180deg);
}

.en .footerInfo h3::before {
    margin: 0 7px 0 0;
}

.en .footerInfo a::before,
.en .footerInfo p::before {
    margin: 0 5px 0 0;
}

@media screen and (max-width: 575px) {
    .en .headerFilter .redBtn {
        left: auto;
        right: 0;
    }

    .en .headerFilter input {
        padding: 0 40px 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .en .headerCart {
        left: auto;
        right: 50px;
    }

    .en .navBtn {
        left: auto;
        right: 0;
    }

    .en .headerNav {
        transform: translateX(-100%);
        right: auto;
        left: 0;
    }
    
    .en .headerNav.show {
        transform: translateX(0);
    }
}
